@import url('https://fonts.cdnfonts.com/css/switzer');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));


@utility bg-primary {
  background-color: #F9FAFB;
}

@utility font-switzer {
  font-family: 'Switzer', sans-serif;
}

@utility shadow-card {
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
}

body {
  font-family: 'Switzer', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  padding:  0px !important;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}